resources:
  - ../../base

nameSuffix: -dev

patches:
  - target:
      kind: Deployment
      name: whoami
    patch: |
      - op: replace
        path: /spec/replicas
        value: 1
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi